global
    maxconn 4000
    user haproxy                                                                           
    group haproxy

defaults
    mode http
    log global
    timeout connect 5000
    timeout client 50000
    timeout server 50000

listen stats
    bind *:8080
    mode http
    stats uri /
    stats show-legends
    stats enable

listen mysql-primary-cluster
    bind *:3306
    option tcpka
    mode tcp
    balance roundrobin
    server primary1 primary1:3306 check
    server primary2 primary2:3306 check
    server primary3 primary3:3306 check
